.container {
  border-radius: 16px;
  border: 1px solid var(--white);
  background: linear-gradient(0deg, #d02144 0%, #d02144 100%);
}

.cta {
  width: 50%;
  padding: 12px 0;
  display: inline-block;
  text-align: center;
}

.active {
  color: var(--primary);
  border-radius: 14px;
  background: var(--white);
}
